[Unit]
Description=Discord Image Embed Bot
After=docker.service network-online.service
Requires=docker.service network-online.service

[Service]
WorkingDirectory=/mnt/zpool0/vm/docker/embed_bot

ExecStart=/usr/bin/docker-compose up

[Install]
WantedBy=multi-user.target
